.main-nav {
    height: 100vh;
    background-color: #207398;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.main-nav-div-1{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
    color: white;
    font-size: 22px;
    cursor: pointer;
}